/* Ensure layout covers the entire screen. */
html {
  height: 100%;
}

/* Place drawer and content side by side. */
.matter-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* A simple menu button. */
.matter-menu {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  margin-right: 24px;
  color: #FFF;
  box-sizing: border-box;
}

/* Stack toolbar and main on top of each other. */
.matter-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  margin-top: 64px;
  background-color: #EEEEEE;
}

.matter-main {
  padding: 20px;
}

.region-content {
  background-color: #FFFFFF;
  position: relative;
}

.floating-fab-buttons {
  position: relative;
  width: 100%;
  height: 56px;
  .mdc-fab {
    position: absolute;
    right: 0;
    margin-left: 20px;
    top: -48px;
  }
}

.element-machine-name {
  position: relative;
  .mdc-textfield__label {
    position: relative;
  }
}