// Custom Colors
$matter_blue: #FFFFFF;
$matter_black: #000000;
$matter_dark_grey: #222222;
$matter_light_grey: #666666;
$matter_dark_blue: "13,71,161";
$matter_medium_blue: "25,118,210";
$matter_light_blue: "33,150,243";

/////////////////////////////////

// Color Overrides for Material Design Lite.
$color-primary: $matter_dark_blue !default;
$color-primary-dark: $matter_medium_blue !default;
$color-accent: $matter_light_blue !default;