{#
/**
 * @file
 * Theme override for the content of an administrative block.
 *
 * Available variables:
 * - content: A list containing information about the block. Each element
 *   of the array represents an administrative menu item, and must at least
 *   contain the keys 'title', 'link_path', and 'localized_options', which are
 *   passed to l(). A 'description' key may also be provided.
 * - attributes: HTML attributes to be added to the element.
 * - compact: Boolean indicating whether compact mode is turned on or not.
 *
 * @see template_preprocess_admin_block_content()
 */
#}
{% if content %}
<ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
  {% for item in content %}
    <li class="mdc-list-item">
      <span class="mdc-list-item__start-detail grey-bg" role="presentation">
        <i class="material-icons" aria-hidden="true">folder</i>
      </span>
      <span class="mdc-list-item__text">
        {{ item.link }}
        {% if item.description %}
          <span class="mdc-list-item__text_secondary">{{ item.description }}</span>
        {% endif %}
      </span>
      <span class="mdc-list-item__end-detail">
        <i class="material-icons" arial-label="Add to favorites">favorite_border</i>
      </span>
    </li>
  {% endfor %}
</ul>
{% endif %}
