{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--flexible-space-maximized mdc-elevation--z4">
  <div class="mdc-toolbar__row mdc-toolbar-top">
    <section class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-start">
      <button class="matter-menu material-icons">menu</button>
      {{ page.header }}
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end toolbar-page_tabs">
      {{ page.tabs }}
    </section>
  </div>
</header>
<aside class="mdc-temporary-drawer">
  <nav class="mdc-temporary-drawer__drawer">
    {% if page.drawer %}
      {{ page.drawer }}
    {% endif %}
  </nav>
</aside>
<main class="matter-main">
  <div class="">

    {% if page.help %}
      {{ page.help }}
    {% endif %}

    {% if page.pre_content %}
      <div class="mdc-layout-grid">
        {{ page.pre_content }}
      </div>
    {% endif %}

    {{ page.breadcrumb }}

    {% if page.sub_tabs %}
      {{ page.sub_tabs }}
    {% endif %}
    <div class="mdl-grid region-content mdc-elevation--z2">
      {{ page.highlighted }}
      {{ page.content }}
    </div>
  </div>
</main>

<style>
  :root {
    --mdc-theme-primary: {{ theme_color_primary }};
    --mdc-theme-accent: {{ theme_color_accent }};
    --mdc-theme-background: {{ theme_color_background }};
  }
</style>
